ASP-NET VB Book/Chapter33/Clients/ConsoleClient/Web References/localhost3/EmployeesServiceCompatible.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.apress.com/ProASP.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.apress.com/ProASP.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/ProASP.NET/">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:element name="GetEmployee">
        <s:complexType />
      </s:element>
      <s:element name="EmployeeList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeeResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomEmployee">
        <s:complexType />
      </s:element>
      <s:element name="GetCustomEmployeeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomEmployeeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee" />
  </wsdl:message>
  <wsdl:message name="GetEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:EmployeeList" />
  </wsdl:message>
  <wsdl:message name="GetCustomEmployeeSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomEmployee" />
  </wsdl:message>
  <wsdl:message name="GetCustomEmployeeSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeesServiceCompatibleSoap">
    <wsdl:operation name="GetEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the full list of employees.</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeeSoapIn" />
      <wsdl:output message="tns:GetEmployeeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomEmployee">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the full list of employees.</wsdl:documentation>
      <wsdl:input message="tns:GetCustomEmployeeSoapIn" />
      <wsdl:output message="tns:GetCustomEmployeeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesServiceCompatibleSoap" type="tns:EmployeesServiceCompatibleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/GetEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomEmployee">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/GetCustomEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeesServiceCompatibleSoap12" type="tns:EmployeesServiceCompatibleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployee">
      <soap12:operation soapAction="http://www.apress.com/ProASP.NET/GetEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomEmployee">
      <soap12:operation soapAction="http://www.apress.com/ProASP.NET/GetCustomEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesServiceCompatible">
    <wsdl:port name="EmployeesServiceCompatibleSoap" binding="tns:EmployeesServiceCompatibleSoap">
      <soap:address location="http://localhost:1336/WebServices2/EmployeesServiceCompatible.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeesServiceCompatibleSoap12" binding="tns:EmployeesServiceCompatibleSoap12">
      <soap12:address location="http://localhost:1336/WebServices2/EmployeesServiceCompatible.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>