ASP-NET VB Book/Chapter33/Clients/WindowsClient/Web References/localhost1/SessionHeaderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateSession">
        <s:complexType />
      </s:element>
      <s:element name="CreateSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="SessionHeader" type="tns:SessionHeader" />
      <s:complexType name="SessionHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SessionID" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="SetSessionData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetSessionDataResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetSessionData">
        <s:complexType />
      </s:element>
      <s:element name="GetSessionDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSessionDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:CreateSession" />
  </wsdl:message>
  <wsdl:message name="CreateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:CreateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSessionSessionHeader">
    <wsdl:part name="SessionHeader" element="tns:SessionHeader" />
  </wsdl:message>
  <wsdl:message name="SetSessionDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetSessionData" />
  </wsdl:message>
  <wsdl:message name="SetSessionDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetSessionDataResponse" />
  </wsdl:message>
  <wsdl:message name="SetSessionDataSessionHeader">
    <wsdl:part name="SessionHeader" element="tns:SessionHeader" />
  </wsdl:message>
  <wsdl:message name="GetSessionDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetSessionData" />
  </wsdl:message>
  <wsdl:message name="GetSessionDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetSessionDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetSessionDataSessionHeader">
    <wsdl:part name="SessionHeader" element="tns:SessionHeader" />
  </wsdl:message>
  <wsdl:portType name="SessionHeaderServiceSoap">
    <wsdl:operation name="CreateSession">
      <wsdl:input message="tns:CreateSessionSoapIn" />
      <wsdl:output message="tns:CreateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetSessionData">
      <wsdl:input message="tns:SetSessionDataSoapIn" />
      <wsdl:output message="tns:SetSessionDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSessionData">
      <wsdl:input message="tns:GetSessionDataSoapIn" />
      <wsdl:output message="tns:GetSessionDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SessionHeaderServiceSoap" type="tns:SessionHeaderServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap:operation soapAction="http://tempuri.org/CreateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:CreateSessionSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionData">
      <soap:operation soapAction="http://tempuri.org/SetSessionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SetSessionDataSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionData">
      <soap:operation soapAction="http://tempuri.org/GetSessionData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSessionDataSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SessionHeaderServiceSoap12" type="tns:SessionHeaderServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateSession">
      <soap12:operation soapAction="http://tempuri.org/CreateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:CreateSessionSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionData">
      <soap12:operation soapAction="http://tempuri.org/SetSessionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SetSessionDataSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSessionData">
      <soap12:operation soapAction="http://tempuri.org/GetSessionData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSessionDataSessionHeader" part="SessionHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SessionHeaderService">
    <wsdl:port name="SessionHeaderServiceSoap" binding="tns:SessionHeaderServiceSoap">
      <soap:address location="http://localhost:1336/WebServices2/SessionHeaderService.asmx" />
    </wsdl:port>
    <wsdl:port name="SessionHeaderServiceSoap12" binding="tns:SessionHeaderServiceSoap12">
      <soap12:address location="http://localhost:1336/WebServices2/SessionHeaderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>