ASP-NET VB Book/Chapter33/Clients/ConsoleClient/Web References/localhost1/EmployeesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.apress.com/ProASP.NET/Compat" xmlns:s1="http://www.apress.com/ProASP.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.apress.com/ProASP.NET/Compat" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/ProASP.NET/Compat">
      <s:import namespace="http://www.apress.com/ProASP.NET/" />
      <s:element name="GetEmployees">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployeesResult" type="tns:ArrayOfEmployee" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="s1:Employee" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEmployeesCountError">
        <s:complexType />
      </s:element>
      <s:element name="GetEmployeesCountErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetEmployeesCountErrorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.apress.com/ProASP.NET/">
      <s:complexType name="Employee">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EmployeeID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TitleOfCourtesy" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetEmployeesSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesCountErrorSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployeesCountError" />
  </wsdl:message>
  <wsdl:message name="GetEmployeesCountErrorSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployeesCountErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="EmployeesServiceSoap">
    <wsdl:operation name="GetEmployees">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the full list of employees.</wsdl:documentation>
      <wsdl:input message="tns:GetEmployeesSoapIn" />
      <wsdl:output message="tns:GetEmployeesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesCountError">
      <wsdl:input message="tns:GetEmployeesCountErrorSoapIn" />
      <wsdl:output message="tns:GetEmployeesCountErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EmployeesServiceSoap" type="tns:EmployeesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/Compat/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesCountError">
      <soap:operation soapAction="http://www.apress.com/ProASP.NET/Compat/GetEmployeesCountError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EmployeesServiceSoap12" type="tns:EmployeesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap12:operation soapAction="http://www.apress.com/ProASP.NET/Compat/GetEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeesCountError">
      <soap12:operation soapAction="http://www.apress.com/ProASP.NET/Compat/GetEmployeesCountError" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeesService">
    <wsdl:port name="EmployeesServiceSoap" binding="tns:EmployeesServiceSoap">
      <soap:address location="http://localhost:1336/WebServices2/EmployeesService.asmx" />
    </wsdl:port>
    <wsdl:port name="EmployeesServiceSoap12" binding="tns:EmployeesServiceSoap12">
      <soap12:address location="http://localhost:1336/WebServices2/EmployeesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>